* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  padding: 20px;
  width: 40%;
  margin:0 auto;

}

h1,
h2,
h3 {
  font-family: sans-serif;
}

.demo , .container-recipe {
  background-color: #f3f3f3;
  padding: 10px 10px;
  margin: 15px 0;
  text-decoration: none;
}

input,
button {
  padding: 10px;
}

.demo {
  color:black;
}

img{
  width:50px;
  height:50px;
}