* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: sans-serif;
}

.container {
  padding: 20px;
  width: 40%;
  margin:0 auto;
}

.demo , .container-recipe {
  background-color: #f3f3f3;
  padding: 10px 10px;
  margin: 15px 0;
  text-decoration: none;
}

input,
button {
  padding: 10px;
}

.demo {
  color:black;
}

img{
  width:50px;
  height:50px;
}

/******************* FOOTER *******************/

.footer {
  padding: 10px 0;
}

.footer ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 30px;
  padding: 0 6px;
  margin-bottom: 5px;
}

.footer ul li a {
  color: black;
  font-size: 25px;
  padding: 0 6px;
}
